/* Funcionalidades */
/*Extends*/
.home .home-principal .imagenes-representativas, .home .home-eventos, .home .home-menu, .home .home-menu .menu-carousel, .carta .productos-ofrecidos section, .eventos .cont-eventos, .galeria .contenedor-galeria, .sobre-nosotros .cont-sobreNosotros, footer .cont-footer {
  width: clamp(300px, 100%, 1300px); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #000;
  color: #ffffff;
  font-family: "Open Sans", sans-serif !important;
  min-width: 350px; }

p {
  margin-bottom: 0; }

nav ul li a, a {
  text-decoration: none;
  color: inherit; }

.linea-divisora {
  display: flex;
  justify-content: center;
  margin: 10px 0; }
  .linea-divisora hr {
    width: clamp(300px, 100%, 1300px); }

main .whatsapp .link-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }
  main .whatsapp .link-whatsapp:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff; }
  main .whatsapp .link-whatsapp .my-float {
    margin-top: 16px; }

header .logo-1927 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  header .logo-1927 div {
    padding: 20px; }

.menu-desplegable {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #000; }
  .menu-desplegable .contenedor-menu-hamburgesa {
    background-color: #000;
    display: none; }
    .menu-desplegable .contenedor-menu-hamburgesa nav div div ul .nav-link {
      color: #ffffff;
      opacity: 1; }
      .menu-desplegable .contenedor-menu-hamburgesa nav div div ul .nav-link:hover {
        color: #FCA311 !important; }
  .menu-desplegable .barra-navegacion {
    margin: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0; }
    .menu-desplegable .barra-navegacion div {
      border-top: 1.5px solid #FCA311;
      border-bottom: 1.5px solid #FCA311;
      font-size: 1.1em;
      font-weight: bold;
      width: 100%;
      max-width: 1300px; }
      .menu-desplegable .barra-navegacion div nav ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding: 5px; }
        .menu-desplegable .barra-navegacion div nav ul li {
          padding: 12.5px; }
          .menu-desplegable .barra-navegacion div nav ul li a:hover {
            color: #FCA311; }

.contenedor-menu-hamburgesa nav div div ul .nav-link .active {
  color: #FCA311 !important;
  font-weight: bold !important; }

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 10px; }
  .home .home-principal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home .home-principal .imagenes-representativas {
      border: 2px solid #E5E5E5;
      border-radius: 15px;
      overflow: hidden;
      margin: 10px;
      max-height: 500px; }
    .home .home-principal .home-logo-1927 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      width: 60vw; }
      .home .home-principal .home-logo-1927 .cont-descripcion-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        z-index: 1;
        padding: 15px;
        background: rgba(0, 0, 0, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        min-width: 200px; }
        .home .home-principal .home-logo-1927 .cont-descripcion-logo .cont-img-logo {
          width: 20vw;
          max-width: 200px;
          min-width: 90px; }
          .home .home-principal .home-logo-1927 .cont-descripcion-logo .cont-img-logo img {
            width: 100%; }
        .home .home-principal .home-logo-1927 .cont-descripcion-logo .titulo-logo {
          width: 40vw;
          min-width: 135px;
          text-align: center; }
          .home .home-principal .home-logo-1927 .cont-descripcion-logo .titulo-logo h1 {
            font-size: 1.5rem; }
  .home .home-eventos {
    display: flex;
    align-items: center;
    margin: 10px;
    border-top: 1px solid #FCA311;
    text-align: center;
    padding-top: 25px; }
    .home .home-eventos .home-contenedor-eventos {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      gap: 15px; }
      .home .home-eventos .home-contenedor-eventos .img-eventos {
        width: clamp(350px, 50%, 550px); }
        .home .home-eventos .home-contenedor-eventos .img-eventos img {
          width: 100%;
          height: 100%; }
      .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos {
        display: flex;
        flex-direction: column;
        width: clamp(350px, 50%, 550px);
        gap: 15px;
        padding: 15px;
        text-align: justify; }
        .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .contenedor-titulo-eventos {
          border-bottom: solid 1px #FCA311; }
        .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .descripcion-eventos {
          font-size: 1.2rem; }
        .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .contenedor-link-eventos {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 15px;
          gap: 10px;
          transition: transform 0.3s ease; }
          .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .contenedor-link-eventos:hover {
            transform: scale(1.1); }
  .home .home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #FCA311;
    text-align: center;
    margin-top: 15px;
    padding-top: 40px;
    overflow: hidden; }
    .home .home-menu .menu-titulo {
      border-bottom: solid  1px #FCA311;
      min-width: 340px; }
    .home .home-menu .menu-invitacion {
      font-size: 1.2rem;
      margin: 10px; }
    .home .home-menu .menu-carousel {
      margin: 10px;
      padding: 0 5px; }
      .home .home-menu .menu-carousel .carousel-imagen {
        margin: 0 5px; }
        .home .home-menu .menu-carousel .carousel-imagen img {
          width: 100%;
          height: 100%; }
      .home .home-menu .menu-carousel button {
        position: absolute;
        width: 45px;
        height: 60px;
        font-size: 1px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.23);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(8.5px);
        border: 1px solid rgba(255, 255, 255, 0.97);
        cursor: pointer; }
      .home .home-menu .menu-carousel .slick-prev {
        background: url("https://raw.githubusercontent.com/JoelItaliano/1927-Multiespacio/fd1211443f7c087fe738957a33603ec98156ab32/img/index/index-menu/icono-back.png") no-repeat right;
        background-size: 90%; }
      .home .home-menu .menu-carousel .slick-next {
        right: 5px;
        background: url("https://raw.githubusercontent.com/JoelItaliano/1927-Multiespacio/fd1211443f7c087fe738957a33603ec98156ab32/img/index/index-menu/icono-next.png") no-repeat right;
        background-size: 90%; }
    .home .home-menu .menu-link-carta {
      color: #FCA311;
      transition: transform 0.3s ease; }
      .home .home-menu .menu-link-carta:hover {
        transform: scale(1.1); }

.carta .productos-ofrecidos {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .carta .productos-ofrecidos p {
    margin: 0; }
  .carta .productos-ofrecidos h2 {
    margin-top: 30px;
    color: #FCA311; }
  .carta .productos-ofrecidos section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    margin: 10px; }
    .carta .productos-ofrecidos section div {
      background-image: url(../img/carta/fondo-tarjeta.avif);
      -webkit-box-shadow: 0px -2px 4px 5px #4d4d4d;
      -moz-box-shadow: 0px -2px 4px 5px #4d4d4d;
      box-shadow: 0px -2px 4px 5px #4d4d4d;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      margin: 10px;
      width: clamp(300px, 50%, 420px);
      transition: transform 0.2s ease; }
      .carta .productos-ofrecidos section div:hover {
        transform: scale(1.1); }
      .carta .productos-ofrecidos section div h3 {
        border-bottom: #000 solid 2px;
        font-size: x-large;
        font-weight: 700;
        padding: 5px 5px 5px 10px; }
      .carta .productos-ofrecidos section div .descripcion-producto {
        padding: 5px 5px 5px 15px; }
      .carta .productos-ofrecidos section div .precio-producto {
        align-self: flex-end;
        color: #FCA311;
        font-weight: bold;
        padding: 5px 15px 5px 5px; }

.eventos {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 10px; }
  .eventos .cont-eventos {
    display: flex;
    flex-flow: column;
    margin: 10px; }
    .eventos .cont-eventos .evento {
      margin: 15px 10px; }
      .eventos .cont-eventos .evento .tarjeta-evento {
        background: url(../img/eventos/fondo-tarjeta.jpg);
        --webkit-box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 5px 2px white;
        box-shadow: 0px 0px 5px 2px white;
        display: flex;
        flex-flow: row;
        gap: 15px; }
        .eventos .cont-eventos .evento .tarjeta-evento .cont-img {
          min-width: 300px;
          max-width: 300px;
          height: 250px; }
          .eventos .cont-eventos .evento .tarjeta-evento .cont-img img {
            width: 100%;
            height: 100%; }
        .eventos .cont-eventos .evento .tarjeta-evento .cont-detalles-evento {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: justify;
          justify-content: space-between; }
          .eventos .cont-eventos .evento .tarjeta-evento .cont-detalles-evento div {
            border-bottom: 1px solid #E5E5E5;
            text-align: center;
            width: 100%; }
            .eventos .cont-eventos .evento .tarjeta-evento .cont-detalles-evento div h2 {
              color: #FCA311;
              font-weight: 600;
              margin: 10px; }
          .eventos .cont-eventos .evento .tarjeta-evento .cont-detalles-evento .descripcion-evento {
            padding: 10px; }
          .eventos .cont-eventos .evento .tarjeta-evento .cont-detalles-evento .fecha-evento {
            color: #FCA311;
            font-size: 1.5rem;
            font-weight: 600; }

.galeria {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin: 10px; }
  .galeria .contenedor-galeria {
    display: flex;
    flex-flow: column;
    margin: 20px 10px; }
    .galeria .contenedor-galeria h2 {
      text-align: center;
      color: #FCA311; }
    .galeria .contenedor-galeria section {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 15px; }
      .galeria .contenedor-galeria section div {
        border: 1px solid #E5E5E5;
        width: 250px;
        height: 200px;
        transition: transform 0.2s ease; }
        .galeria .contenedor-galeria section div:hover {
          transform: scale(1.1); }
        .galeria .contenedor-galeria section div img {
          width: 100%;
          height: 100%; }

.sobre-nosotros {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 20px 10px; }
  .sobre-nosotros .cont-sobreNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; }
    .sobre-nosotros .cont-sobreNosotros .img-representativa {
      border: 1px solid #E5E5E5;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      width: clamp(300px, 50%, 500px); }
      .sobre-nosotros .cont-sobreNosotros .img-representativa img {
        width: 100%;
        height: 100%; }
    .sobre-nosotros .cont-sobreNosotros .cont-descripcion-sobre-nosotros {
      width: clamp(300px, 50%, 600px);
      text-align: justify; }
      .sobre-nosotros .cont-sobreNosotros .cont-descripcion-sobre-nosotros h2 {
        color: #FCA311; }

footer {
  display: flex;
  justify-content: center; }
  footer .cont-footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 220px 220px;
    gap: 10px 10px;
    grid-template-areas: "contacto horarios mapa" "redes redes .";
    justify-content: center;
    margin: 15px; }
    footer .cont-footer section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 230px; }
      footer .cont-footer section h2 {
        color: #FCA311; }
      footer .cont-footer section div p {
        margin: 0; }
    footer .cont-footer .contacto {
      grid-area: contacto; }
    footer .cont-footer .horarios {
      grid-area: horarios; }
    footer .cont-footer .ubicacion {
      grid-area: mapa; }
      footer .cont-footer .ubicacion .mapa {
        width: 100%; }
    footer .cont-footer .redes-sociales {
      grid-area: redes;
      align-items: center; }

@media screen and (max-width: 750px) {
  .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .contenedor-titulo-eventos {
    text-align: center; }
  .home .home-eventos .home-contenedor-eventos .contenedor-descripcion-eventos .contenedor-link-eventos {
    justify-content: center; }
  footer .cont-footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 220px 220px 220px;
    gap: 10px 10px;
    grid-template-areas: "contacto horarios" "mapa mapa" "redes redes"; }
    footer .cont-footer .contacto {
      grid-area: contacto; }
    footer .cont-footer .horarios {
      grid-area: horarios; }
    footer .cont-footer .ubicacion {
      grid-area: mapa; }
    footer .cont-footer .redes-sociales {
      grid-area: redes; } }

@media screen and (max-width: 620px) {
  .menu-desplegable .contenedor-menu-hamburgesa {
    display: inline; }
  .menu-desplegable .barra-navegacion {
    display: none; }
  .home .imagenes-representativas {
    aspect-ratio: 4/3; }
  .eventos .cont-eventos {
    align-items: center; }
    .eventos .cont-eventos .evento .tarjeta-evento {
      flex-wrap: wrap;
      width: 300px; } }

@media screen and (max-width: 520px) {
  .home .home-principal .home-logo-1927 .cont-descripcion-logo .titulo-logo h1 {
    font-size: 1.0rem; }
  footer .cont-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 220px 220px 220px;
    gap: 10px 10px;
    grid-template-areas: "contacto " "horarios" "mapa" "redes";
    justify-items: center; }
    footer .cont-footer .contacto {
      grid-area: contacto; }
    footer .cont-footer .horarios {
      grid-area: horarios; }
    footer .cont-footer .ubicacion {
      grid-area: mapa; }
    footer .cont-footer .redes-sociales {
      grid-area: redes; } }
