


@media screen and (max-width: 520px) {

    .cont-footer  {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 220px 220px 220px 220px; 
        gap: 10px 10px; 
        grid-template-areas: 
        "contacto "
        "horarios"
        "mapa"
        "redes"; 
        justify-items: center;
    }

    .contacto {
        grid-area: contacto;
    }
    
    .cont-footer section .horarios { 
        grid-area: horarios;
    }
    .ubicacion {
        grid-area: mapa; 
    }
    
    .redes-sociales {
        grid-area: redes;
    }

}