.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 10px;
    .home-principal {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imagenes-representativas {
            @extend %widith-clamp;
            border: 2px solid $color-cuaternario;   
            border-radius: 15px;
            overflow: hidden;
            margin: 10px;           
            max-height: 500px;
        }
        .home-logo-1927 {        
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            display: flex;
            justify-content: center;
            width: 60vw; 
            
            .cont-descripcion-logo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                z-index: 1;
                padding: 15px;
                background: rgba(0, 0, 0, 0.14);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.9px);
                -webkit-backdrop-filter: blur(4.9px);
                border: 1px solid rgba(0, 0, 0, 0.3);                
                min-width: 200px;
                .cont-img-logo {
                    width: 20vw; 
                    max-width: 200px; 
                    min-width: 90px;
                    img {
                        width: 100%;
                    }
                }
                .titulo-logo {                                    
                    width: 40vw;                     
                    min-width: 135px;
                    text-align: center;                                         
                    h1 {
                        font-size: 1.5rem;
                    } 
                }
            }
        }
    }
    .home-eventos {
        @extend %widith-clamp;
        display: flex;
        align-items: center;        
        margin: 10px;
        border-top: 1px solid #FCA311;
        text-align: center;
        padding-top: 25px;
        .home-contenedor-eventos {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            gap: 15px;                       
            .img-eventos{
                width: clamp(350px, 50%, 550px);                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .contenedor-descripcion-eventos{
                display: flex;
                flex-direction: column;
                width: clamp(350px, 50%, 550px);
                gap: 15px;
                padding: 15px;
                text-align: justify;
                .contenedor-titulo-eventos {
                    border-bottom: solid  1px $color-terciario;
                }
                .descripcion-eventos {
                    font-size: 1.2rem;
                }
                .contenedor-link-eventos {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 15px;
                    gap: 10px;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1)
                    }                    
                }
            }
        }      
    }
    .home-menu {
        @extend %widith-clamp;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-top: 1px solid #FCA311;
        text-align: center;
        margin-top: 15px;
        padding-top: 40px;
        overflow: hidden;
        .menu-titulo {
            border-bottom: solid  1px #FCA311;
            min-width: 340px;
        }
        .menu-invitacion {
            font-size: 1.2rem;
            margin: 10px;
        }
        .menu-carousel {
            @extend %widith-clamp;
            margin: 10px;
            padding: 0 5px;
            .carousel-imagen {
                
                margin: 0 5px;
                img {
                    width: 100%;
                    height: 100%;
                }            
            }
            .slick-arrow{
                position: absolute;
                width: 45px;
                height: 60px;
                font-size: 1px;
                color: transparent;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;

                background: rgba(255, 255, 255, 0.23);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(8.5px);
                -webkit-backdrop-filter: blur(8.5px);
                border: 1px solid rgba(255, 255, 255, 0.97);
                cursor: pointer;
            }
            .slick-prev {
                background: url(../../img/index/index-menu/icono-back.png) no-repeat right;
                background-size: 90%;
            }

            .slick-next {
                right: 5px;
                background: url(../../img/index/index-menu/icono-next.png) no-repeat right;
                background-size: 90%;
            }
        }
        /*.menu-carousel {    
            position: relative;
            width: 100%;
            max-width: 1300px;
            min-width: 350px;
            height: 200px;
            overflow: hidden;
            margin: 0 auto;
            .carousel-button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(255, 255, 255, 0.23);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(8.5px);
                -webkit-backdrop-filter: blur(8.5px);
                border: 1px solid rgba(255, 255, 255, 0.97);
                cursor: pointer;
                
                width: 45px;
                height: 60px;
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .prev-button {
                padding: 10px 5px;
                left: 10px;
            } 
            .next-button {
                padding: 10px 0 10px 10px;
                right: 10px;
            }           
            .cont-carousel {
                overflow: hidden;
                width: 100%;
                height: 100%;
                .carousel-home {
                    display: flex;
                    gap: 10px;
                    transition: transform 0.5s ease;
                    .carousel-imagen {
                        min-width: 300px;
                        height: 200px;                        
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover; 
                            transition: transform 0.3s ease;
                            &:hover {
                            transform: scale(1.1)
                        }
                    }
                }
            }
            
        }*/
        .menu-link-carta {
            color: $color-terciario;
            transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.1)
            }
        }
    }  
}

