*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-principal;
    color: $color-secundario;
    font-family: "Open Sans", sans-serif !important;
    min-width: 350px;    
}

p {
    margin-bottom: 0;
}

nav ul li a, a {
    text-decoration: none;
    color: inherit; 
}

.linea-divisora{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    hr {
        width: clamp(300px, 100%, 1300px);
    }
}

main {
    .whatsapp {
        .link-whatsapp{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            box-shadow: 2px 2px 3px #999;
            z-index:100;
            &:hover {
            text-decoration: none;
            color: #25d366;
            background-color:#fff;
            }
            .my-float{
            margin-top:16px;
            }
        }   
    }
}