@media screen and (max-width: 750px) {
    .home {
        .home-eventos {
            .home-contenedor-eventos {
                .contenedor-descripcion-eventos {
                    .contenedor-titulo-eventos {
                        text-align: center;
                    }
                    .contenedor-link-eventos {
                        justify-content: center;
                    }
                }
            }
        }
    }
    footer {
        .cont-footer {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr; 
            grid-template-rows: 220px 220px 220px; 
            gap: 10px 10px; 
            grid-template-areas: 
            "contacto horarios"
            "mapa mapa"
            "redes redes"; 
            .contacto {
                grid-area: contacto;
            }
            .horarios {
                grid-area: horarios;
            }
            .ubicacion {
                grid-area: mapa; 
            }
            .redes-sociales {
                grid-area: redes;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    header {
        .contenedor-menu-hamburgesa {
            display: inline;
        }
        .barra-navegacion {
            display: none;
        }
    }

    .home {
        .imagenes-representativas {
            aspect-ratio: 4/3;
        }
    }

    .eventos {
        .cont-eventos {
            align-items: center;
            .evento {
                .tarjeta-evento {
                    flex-wrap: wrap;
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {

    .home {
        .home-principal {
            .home-logo-1927 {
                .cont-descripcion-logo {
                    .titulo-logo {
                        h1 {
                            font-size: 1.0rem;
                        }
                    }
                }
            }
        }
    }


    footer {
        .cont-footer {
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 220px 220px 220px 220px; 
            gap: 10px 10px; 
            grid-template-areas: 
            "contacto "
            "horarios"
            "mapa"
            "redes"; 
            justify-items: center;
            .contacto {
                grid-area: contacto;
            }
            .horarios {
                grid-area: horarios;
            }
            .ubicacion {
                grid-area: mapa; 
            }
            .redes-sociales {
                grid-area: redes;
            }
        }
    }
}